SELECT FORMAT(timestamp, 'HH:mm') as time_only, ng_description_th, quantity FROM ng_logs nl LEFT JOIN ng_types nt ON nl.ng_type_id = nt.id WHERE CAST(nl.timestamp AS DATE) = '2025-09-15' ORDER BY nl.timestamp;
